* {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
    color: #293264;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Karla', sans-serif;
    
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
   
}

/* =================
    Typography 
   ================= */

.answer{
    font-size: 0.75rem;
    font-weight: 500;
    border: 1px solid #4D5B9E;
    border-radius: 8px;
    padding: 5px 20px;
    text-align: center;
}

.question{
    font-weight: 700;
    font-size: 1rem;
}



/* =================
    Layout
   ================= */

.answers-container{
    display: flex;
    gap: 20px;

}
   
.main {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}





/* header {
    padding: 2em 0 1em;
    background-color: #f3efef;
}



footer {
    text-align: center;
    font-size: 0.75rem;
    background-color: #0e1f3b;
    margin: 2rem 0 0;
    color: rgba(255,255,255, .65);
    padding: 1rem;
    line-height: 0.3;
} */


/* navigation */

/* .nav-list {
    list-style: none;
    padding: 0;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.nav-list-item {
    padding: 0;
    margin: 0.5em 0;
}

.nav-link {
    text-decoration: none;
    color: #707070;
    padding: .25em 0;
    letter-spacing: 1px;
}

.nav-link:hover,
.nav-link:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover,
.current-page:focus {
    color: #707070;
} */




/* =================
    Media queries 
   ================= */
/* @media (min-width: 600px) {
    
    
} */